[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-rest-framework = "*"
drf-complex-filter = "*"

[dev-packages]
pbr = "*"
parameterized = "*"
psycopg2-binary = "*"

[packages.django-postgres-stats]
git = "https://github.com/kit-oz/django-postgres-stats.git"
editable = true
